$colorsOfMenus: #24314A;
$colorsOfIds: #455066;
$colorsOfButtons: #409EFF;
$colorsOftextAndColorsOfButtons: #fff;
$colorsOfMarcador: #385372;
$colorsOfTextMarcador: #409EFF;
$colorsOfHeader: #EBEFF5;
$colorsOfHeaderBtn: #f5f7fa;
$colorsOfBtnDisabled: #d4d4d4;
