@import './colors';

@mixin TitleOfIds {
    color: $colorsOfIds;
}

@mixin TitleOfPage {
    color: $colorsOfIds;
    font-weight: 700;
    padding-bottom: 15px;
}

@mixin TitleOfCreation {
    color: $colorsOfIds;
    font-weight: 700;
    padding: 0 20px 0 0;
}

@mixin titleOfError {
    font-weight: 700;
    margin: 130px 0 200px 300px;
    font-size: 50px;
}

@mixin TitleOfErrorText {
    font-size: 24px;
    font-weight: bold;
}

@mixin TitleOfErrorText_subText{
    font-size: 20px;
    font-weight: 300;
}