<template>
 <div>
    <el-row class="card" :gutter="20" >
        <el-col :span="12" :xs="22"   v-for="mocks in OnlyPublicated.slice(page-1, page+7)" :key="mocks.id" class="text item">
            <el-card class="box-card">
             <template #header>
                <div class="card-header">
                <span>ID: {{mocks.id}} </span>
                </div>
             </template>
             <div class="card-title">
             {{ mocks.str_name}}
             </div>
             <div class="card-description">
                {{ mocks.str_description}}
             </div>
             <div class="card-created">
               Created: <span>{{mocks.ts_created_at }}</span> publicated: <span>{{mocks.ts_published_at}}</span>
             </div>
                <el-row  :gutter="14" >
                    <el-col :span="4" :xs="20"  >
                    <div class="card-Access">
                        Acesso: <p>{{mocks.str_publication_type}}</p> 
                    </div>
                    </el-col>
                    <el-col :span="4" :xs="20" >
                          <div class="card-Access">
                        Vigencia: <p>{{mocks.ts_publication_start }} - {{mocks.ts_publication_end }}</p> 
                    </div>
                    </el-col>
                    <el-col :span="14">
                        <div class="card-Access">
                            Nº de Respostas: <p>{{mocks.int_total_answers}}</p>
                        </div>
                    </el-col>
                </el-row>
            <div class="card-tags">
                Marcadores:  <el-tag>{{mocks.lst_tags ? mocks.lst_tags : 'Não há marcador'}}</el-tag>
            </div>
            <div class="card-submit">
                <el-row class="card-submit__div" :gutter="20" >
                    <el-col :span="4" :xs="20" >
                        <i class="el-icon-share"></i>
                    </el-col>
                    <el-col :span="10" :xs="20" >
                        <i class="el-icon-copy-document"></i>
                    </el-col>
                    <el-col :span="4" :xs="18" :sm="5">
                        <el-button  class="card-btn__disabled">Preencher</el-button>
                    </el-col>
                    <el-col :span="4" :xs="18" :sm="4">
                        <el-button  class="card-btn">Detalhes</el-button>
                    </el-col>
                </el-row>
            </div>
            </el-card>
        </el-col>
    </el-row>

    <div class="card-error" v-show="OnlyPublicated == '' ">
        <img class="card-error-img" src="@/assets/images/search.png">
            <h1>Ooops!</h1>
            <p class="card-error-text">Nenhum Formulário Publicado</p>
            <p class="card-error-text__subText">Crie novos Formularios ou publique Formulário em rascunho</p>
            <el-button type="primary" >Criar novo Formulario</el-button>
            
    </div>

        <div class="card-pagination">
            <el-pagination
            background
            layout="prev,pager,next" 
            @next-click="page++"
            @prev-click="page--"
            :total="100">
            </el-pagination>
          </div>
    </div>
</template>

<script lang="ts">
import moment from 'moment';
    export default {
        data(){
            return{
                page: 1,
                perPage: 9,  
                OnlyPublicated: []
            }
        },
        props:{
            mocks: {},
        },
        methods:{
            setPages () {
                let numberOfPages = Math.ceil(this.mocks.length / this.perPage);
                for (let index = 1; index <= numberOfPages; index++) {
                this.pageOfItems.push(index);
                }
            },
            paginate (mocks) {
                let page = this.page;
                let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);
                return  mocks.slice(from, to);
                }
        },
        watch: {
            posts () {
            this.setPages();
            }
        },
        created(){
            let value = this.mocks.filter(OnlyPublicated => (OnlyPublicated.ts_publication_end !== null));
            this.OnlyPublicated = value
            this.OnlyPublicated.map((item) =>{
            moment.locale('pt-br');
            this.end = moment(new Date(item.ts_publication_end)).format("L");
            item.ts_publication_end = this.end
            }); 
        },
        computed:{
            paginatedData(){
                let pageStart = (this.currentPage - 1) * this.perPage, end = pageStart + this.perPage
                return this.mocks.slice(pageStart, end)
            },
            startPage(){
                if(this.currentPage === 1) return 1
                if(this.currentPage === this.totalPages) return this.totalPages - this.maxButtons + (this.maxButtons - 1)
                return this.currentPage - 1
            },
            endPage(){return Math.min(this.startPage + this.maxButtons - 1, this.totalPages )},
            pages(){
                let range = []
                for (let i = this.startPage; i <= this.endPage; i+=1){
                    range.push({
                        number: 1,
                        isDisabled: i === this.currentPage
                    })
                    return range;
                }
            },
            isInFirstPage(){return this.currentPage === 1},
            isInLastPage(){return this.currentPage === this.totalPages},
            NextPage(){
                this.mocks.slice(this.FirstParameterOfPage,this.lastParameterOfPage)
            },
            displayedPosts () {
            return this.paginate(this.mocks);
            }

        },
    }
</script>

<style src="./style.scss" lang="scss" scoped>

</style>