<template>

<div>
  <el-alert
      title="lst_tags não existe no MOCK e str_publication_type não existe mock nulo, por isso foi usado ts_publication_end como rascunho"
      type="warning"
      show-icon>
    </el-alert>
  <el-col :span="12">
  <el-radio-group v-model="isCollapse" style="margin-bottom: 20px;">
    <el-menu class="navbar" :collapse="isCollapse">
      <el-menu-item index="1">
        <i class="el-icon-menu"></i>
        <template #title>Granter</template>
      </el-menu-item>
    </el-menu>
  </el-radio-group>
  </el-col>
</div>

<el-row class="navMenu">
  <el-col :span="16" >
    <el-menu :default-active="activeIndex" class="menu-horizontal" mode="horizontal">
      <el-menu-item :default-active="activeIndex" index="1">Gestão</el-menu-item>
      </el-menu>
    </el-col>
    <div>
    <el-col :span="8" :gutter="20" :xs="20" :sm="6" :md="4" :lg="3" :xl="1" >
      <el-button class="menu-horizontal__btn">Criar formularios</el-button>
    </el-col>
    </div>
 
</el-row>




</template>

<script>
  export default {
    data() {
      return {
        activeIndex: '1',
        isCollapse: true
      };
    },
  }
</script>

<style src="./style.scss" lang="scss" scoped>

</style>