@import "@/assets/scss/index.scss";

.navbar{
    width: 60px;
    min-height: 600px;
    background-color: $colorsOfMenus;
}

.navMenu{
padding-left: 0;
}

.menu-horizontal{
    margin-left: 100px;
  }

.menu-horizontal__btn{
  background-color: $colorsOfButtons;
  color: $colorsOftextAndColorsOfButtons;
  
}

.navbar-header{
  background-color: $colorsOfHeader;
  color: $colorsOftextAndColorsOfButtons;
  padding: 5px;
}

