<template>
    <div>
    <el-row class="header" :gutter="20">
      <el-col :span="6" :xs="12" :sm="6" :md="4" >
        <div>
          <el-button-group>
            <el-button type="primary" @click="isPublicated = true">Publicados</el-button>
            <el-button type="primary" @click="isPublicated = false">Rascunhos</el-button>
          </el-button-group>
        </div>
      </el-col>
      <el-col :span="16">
        <div>
            <el-input  prefix-icon="el-icon-search" placeholder="Busque por um título, Descrição ou Marcadores"></el-input>
        </div>
      </el-col>
      <el-col :span="2">
          <el-button  class="header-btn">Buscar</el-button>
      </el-col>
    </el-row>
  </div>
  
  <CardPubli v-show="isPublicated" :mocks="mocks" ></CardPubli>
  <CardRascunho v-show="!isPublicated" :mocks="mocks"></CardRascunho>

</template>

<script lang="ts">
import CardPubli from '@/components/card-publi/card-publi.vue'
import CardRascunho from '@/components/card-rascunho/Card-Rascunho.vue'

import { defineComponent } from "vue";
import mocks from '@/data/mock_data.json'
    export default defineComponent ({
        data(){
            return{
              mocks: mocks,
              isPublicated: true,
              
            }
        },
        components:{CardPubli,CardRascunho},
  
    })
</script>

<style src="./style.scss" lang="scss" scoped>

</style>