@import "@/assets/scss/index.scss";


.el-row.header{
    margin-top: 80px;
    background-color: $colorsOfHeader;
    padding: 10px;
}

.header-btn{
    background-color: $colorsOfHeaderBtn;
    color: $colorsOfBtnDisabled
}
