@import "@/assets/scss/index.scss";


.card-btn__disabled{
    background-color: $colorsOfHeaderBtn;
    color: $colorsOfBtnDisabled
}

.card, .card-submit__div{
    margin-top: 40px;
    padding: 10px;
}

.card-header, .card-description{
    @include TitleOfIds;
    padding-bottom: 10px;
}
.card-title{
    @include TitleOfPage
}

.card-created,.card-Access{padding-bottom: 20px }
.card-created span,.card-Access p{
    @include TitleOfCreation;
}

.card-btn{
    background-color: $colorsOfButtons;
    color: $colorsOftextAndColorsOfButtons;
}
.card-pagination{
  display: table;
  margin: 0 auto;
}

.card-error{
    @include titleOfError
}
.card-error-img{
    float: right;
    width: fit-content;
    height: 600px;
    margin-bottom: 200px;

}

.card-error-text {
   @include TitleOfErrorText
}

.card-error-text__subText {
    @include TitleOfErrorText_subText
 }