<template>
  <div class="nav-menu">
    <NavMenu></NavMenu>
    <Home></Home>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Home from "./components/Home/Home.vue";
import NavMenu from "./components/NavMenu/NavMenu.vue";

export default defineComponent({
  name: "App",
  components:{NavMenu, Home}
});
</script>

<style>

</style>
